/*Navbar */

.navbar-brand {
  font-family: 'Cinzel', serif;
  font-size: 28px;
}

.navbar {
  box-shadow: 0 1px #817B79;
}

.navbar-nav > li > a {
  text-shadow: none;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 12px;
}

/* Main Section */

.main-section{
  min-height:800px; 
  background-image: url('../images/main_section.jpg');
  background-position: center;
}

.sub-heading, .services-top, .list-top, .list-icon, .list-icon2, .list-icon3{
  text-align: center;
}
.services-top{
  font-size: 2em;
  font-family: 'Merriweather', serif;
}
.inner-service{
  color:#8A2BE2;
}
.service-line{
  height: 2px;
  width: 12em;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #8A2BE2; 
}
.services-row{
  margin-top: 3em;
}
.list-top{
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
}
.sub-heading{
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}
.list-content{
  margin: 1em 2em 2em 0;
  font-size: 12px;
  padding: 1em;
  font-family: 'Merriweather', serif;
  border: 2px solid #A9A9A9;
}
.list-icon, .list-icon3{
  margin-top: 3em;
}
.list-icon2{
  margin-top: 1em;
}
.webapp-image{
  height: 28px;
}

header .container-fluid {
    padding-top: 100px;
    padding-bottom: 50px;
}

/* About Section*/

.about-section {
  min-height:800px;
  background:lightgrey;
}

.about-title{
  text-align: center; 
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
  font-family: "Yanone Kaffeesatz";
  font-weight: 700
}

body {
  overflow-x: hidden;
  font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.description {
  color: #777;
}

h4{
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
}
 
.btn-black.btn-primary.outline {
  border: 2px solid #000000;
  color: #000000;
  margin-right: 20px;
  font-size: 13px;
  font-family: "montserrat";
}

.btn-black.outline {
  background: none;
  padding: 12px 22px;
}

a.button-link, a:visited {
  color: #696969;
  text-decoration: none;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
  color: #696969;
  border-color:  #696969;
}

.container-fluid#download-button {
    padding-top: 12px;
    padding-left: 480px;
}

/* Portfolio Section*/

.portfolio-section {
  min-height:900px;
  background:white;
} 

.portfolio-title{
  text-align: center; 
  color: #778899;
  font-size: 40px;
  text-transform: uppercase;
  font-family: "Yanone Kaffeesatz";
  font-weight: 700
}
 

/*Contact*/
 
.contact-section {
    min-height:400px;
    background-color: #F80000;
    background-position: center;
    background-repeat: no-repeat;
}

/* Contact Form */

.contact-form-title{
  text-align: center; 
  color: #778899;
  font-size: 40px;
  font-family: "Lobster";
  text-shadow: 2px 2px #000;
  margin-top: 40px;
}

.form-control {
  height: 75px;
  font-size: 24px;
}

.submission-field { 
  width: 350px; 
  height: 55px; 
  border: 1px solid #999999; 
  padding: 8px;
  font-size: 20px
}

.message-field {
  font-size: 20px;
  padding: 8px;
  width: 1093px;
  height: 200px;
}

/* Footer */

footer {
  padding-top: 167px;
}

.footer-items {
  padding-left: 133px;
  font-family: 'Lato', serif;
}

.copyright{
  color: #fff
}

.questions{
  font-family: 'Montserrat', sans-serif;
  color: #323232;
  margin-top: 250px;
  text-align: center;
}

.col-md-8.footer-items{
  padding-bottom: 50px;
}

/*Media Queries */

 
@media (max-width: 1199px) { 
  .contact-form-title{
    font-size: 38px;
  }
  .submission-field {
    width: 290px;
    font-size: 16px;
  }
  .message-field {
    font-size: 16px;
    width: 903px;
  }
}

@media (max-width: 991px) {
  .contact-form-title{
    font-size: 30px;
  }
  .submission-field {
    width: 290px;
    font-size: 14px;
    margin-left: 20px;
  }
  .message-field {
    font-size: 16px;
    width: 688px;
  }
}

@media (max-width: 793px) {
  .contact-form-title {
    font-size: 28px;
  }
  .message-field {
    width: 500px;
  } 
}

@media (max-width: 582px) {
  .message-field {
    width: 478px;
  } 
}

@media (max-width: 540px) {
  .message-field {
    width: 430px;
  } 
}

@media (max-width: 500px) {
  .message-field {
    width: 405px;
  } 
}

@media (max-width: 460px) {
  .message-field {
    width: 375px;
  } 
}

@media (max-width: 440px) {
  .message-field {
    width: 353px;
  } 
}

@media (max-width: 400px) {
  form-title {
    font-size: 27px;
  }
  .message-field {
    width: 326px;
  } 
}