.sub-heading, .services-top, .list-top, .list-icon, .list-icon2, .list-icon3{
	text-align: center;
}
.services-top{
	font-size: 2em;
	font-family: 'Merriweather', serif;
}
.inner-service{
	color:#8A2BE2;
}
.service-line{
	height: 2px;
	width: 12em;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	background: #8A2BE2; 
}
.services-row{
	margin-top: 3em;
}
.list-top{
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
}
.sub-heading{
	font-family: 'Lato', sans-serif;
	font-size: 15px;
}
.list-content{
	margin: 1em 2em 2em 0;
	font-size: 12px;
	padding: 1em;
	font-family: 'Merriweather', serif;
	border: 2px solid #A9A9A9;
}
.list-icon, .list-icon3{
	margin-top: 3em;
}
.list-icon2{
	margin-top: 1em;
}
.webapp-image{
	height: 28px;
}