/* Entire Website */

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.description{
  margin-top: 15px;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.service-line{
  width: 55px;
  border: 2px solid #F05F40; 
}

.white-title{
  text-align: center; 
  color: #fff;
  font-size: 35px; 
  font-weight: 300;
}

.red-section-horizontal{
  width: 50px;
  border: 2px solid #fff;
}

/* Navbar */

.navbar-brand {
  font-family: 'Cinzel', serif;
  font-size: 28px;
}

.navbar {
  box-shadow: 0 1px #817B79;
}

a.nav-anchor:visited {
  text-decoration: none;
} 

.navbar-nav > li > a {
  text-shadow: none;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 12px;
}

.nav>li>a:hover {
  text-decoration: none;
  background-color: transparent;
  color: #fff;
}

/* Navbar Media Queries */

@media (max-width: 767px){
  .navbar-toggle{
    border-color: #333;
  }
  .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-toggle:hover {
    background-color: #9d9d9d;;
  }
}

/* Main Section */

.main-section{
  min-height:800px; 
  background-image: url('../images/main_section.jpg');
  background-position: center;
}

.sub-heading, .services-top, .list-top, .list-icon, .list-icon2, .list-icon3{
  text-align: center;
}

.main-text{
  color: rgba(255, 255, 255, 0.7);
}

.services-top{
  font-size: 65px;
  color: #FFFFFF;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  margin-top: 150px;
}

.inner-service{
  color:#8A2BE2;
}

.services-row{
  margin-top: 3em;
}

header .container-fluid {
  padding-top: 100px;
  padding-bottom: 50px;
}

.btn{
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.red-button{
  margin-top: 30px;
  border-radius: 26px;
  padding: 15px 30px 15px 30px;
  color: #ffffff;
  background-color: #f05f40;
  text-transform: uppercase;
}
     
.button-section{
  text-align: center;
}

/* Main Section Media Queries */

@media (max-width: 461px ){
  .white-button{
    margin-bottom: 30px;
  }
}

/* About */

.about-section {
  min-height: 400px;
  background-color: #F05F40;
}

.sub-heading {
  text-align: center;
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}

.white-button{
  margin-top: 30px;
  border-radius: 26px;
  padding: 15px 30px 15px 30px;
}

.list-top{
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  color: #fff;
}

.list-content{
  margin: 1em 2em 2em 0;
  font-size: 12px;
  padding: 1em;
  font-family: 'Merriweather', serif;
  border: 2px solid #A9A9A9;
  color: #fff;
}

.list-icon, .list-icon3{
  margin-top: 3em;
}
.list-icon2{
  margin-top: 1em;
}
.webapp-image{
  height: 28px;
}

h4{
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
}
 
.btn-black.btn-primary.outline {
  border: 2px solid #000000;
  color: #000000;
  margin-right: 20px;
  font-size: 13px;
  font-family: "montserrat";
}

.btn-black.outline {
  background: none;
  padding: 12px 22px;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
  color: #696969;
  border-color:  #696969;
}

.container-fluid#download-button {
    padding-top: 12px;
    padding-left: 480px;
}

/* Services */

#services {
  margin-bottom: 40px;
}
    
.services-section {
  min-height: 400px;
  background-color: #fff;
} 

.services-title{
  text-align: center; 
  color: #5F4633;
  font-size: 32px; 
  font-weight: 300;
}

.services-subtitle{
  font-size: 24px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
  text-align: center;
}

.services-text {
  color: #777;
}

.services-section-horizontal{
  width: 50px;
  border: 1px solid #F05F40;
}

.icon{
  font-size: 4em;
  text-align: center;
  color: #F05F40;
}

/* Services Media Queries */

@media (max-width: 700px){
  .services-text{
    padding: 10px;
  }
}

/* Portfolio */

.portfolio-section {
  min-height: 400px;
  background-color: #fff;
} 

.portfolio-title{
  text-align: center; 
  color: #778899;
  font-size: 40px;
  text-transform: uppercase;
  font-family: "Yanone Kaffeesatz";
  font-weight: 700
}

.portfolio-item{
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 220px;
}

/* Portfolio Media Queries */

@media (max-width: 991px ){
  .picture-space{
    margin-top: 30px;
  }
  #last-image-space{
    margin-bottom: 30px;
  }
}
 
/* Contact */
 
.contact-section {
    min-height:400px;
    background-color: #F05F40;
    background-position: center;
    background-repeat: no-repeat;
}

/* Contact Form */

.contact-form-title{
  text-align: center; 
  color: #778899;
  font-size: 40px;
  font-family: "Lobster";
  text-shadow: 2px 2px #000;
  margin-top: 40px;
}

.form-control {
  height: 75px;
  font-size: 24px;
}

.submission-field { 
  width: 350px; 
  height: 55px; 
  border: 1px solid #999999; 
  padding: 8px;
  font-size: 20px
}

.message-field {
  font-size: 20px;
  padding: 8px;
  width: 1093px;
  height: 200px;
}

.text-center{
  margin-top: 20px;
}

/* Footer */

footer {
  padding-top: 167px;
}

a.fa:hover, a.fa:active, a.fa:visited{
  text-decoration: none;
}

.copyright{
  color: #fff
}

.questions{
  font-family: 'Montserrat', sans-serif;
  color: #323232;
  margin-top: 250px;
  text-align: center;
}

.footer-items{
  text-align: center;
}

.fa-envelope-o, .fa-twitter, .fa-linkedin-square {
  color: #fff;
}

.social-media{
  font-size: 2.5em;
  color: #fff;
  letter-spacing: 20px;
  text-decoration: none;
}

.social-media:link, .social-media:hover, .social-media:active, .social-media:visited {
  text-decoration: none;
}

/* Media Queries */

 
@media (max-width: 1199px) { 
  .contact-form-title{
    font-size: 38px;
  }
  .submission-field {
    width: 290px;
    font-size: 16px;
  }
  .message-field {
    font-size: 16px;
    width: 903px;
  }
}

@media (max-width: 991px) {
  .contact-form-title{
    font-size: 30px;
  }
  .submission-field {
    width: 290px;
    font-size: 14px;
    margin-left: 20px;
  }
  .message-field {
    font-size: 16px;
    width: 688px;
  }
}

@media (max-width: 793px) {
  .contact-form-title {
    font-size: 28px;
  }
  .message-field {
    width: 500px;
  } 
}

@media (max-width: 582px) {
  .message-field {
    width: 478px;
  } 
}

@media (max-width: 540px) {
  .message-field {
    width: 430px;
  } 
}

@media (max-width: 500px) {
  .message-field {
    width: 405px;
  } 
}

@media (max-width: 460px) {
  .message-field {
    width: 375px;
  } 
}

@media (max-width: 440px) {
  .message-field {
    width: 353px;
  } 
}

@media (max-width: 400px) {
  form-title {
    font-size: 27px;
  }
  .message-field {
    width: 326px;
  } 
}